.venv/
.vscode/
/.venv
/.vscode
/myenv
myenv 
venv
myenv/
myenv/*
__pycache__/
*/__pycache__/*
*.py[cod]
pip-log.txt
pip-delete-this-directory.txt
*.log
*.pot
*.pyc
*.log
local_settings.py
db.sqlite3
.python-version
celerybeat-schedule
venv.bak/
myenv.bak/
.mypy_cache/
build